/* Add here all your CSS customizations */

a {
    color: #EA7412;
}

.phoneNum {
    color: #000 !important;
    font-size: 22px !important;
    font-weight: 800;
    margin-right: 15px !important;
}

deco {
    padding: 5px;
    margin: 5px;
    border-radius: 6px;
}

.tp-caption {
    background: rgba(139, 139, 139, 0.47);
    padding: 10px;
    margin: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.43);
}


.home-intro p em {
  color: #EA7412;
}

.btn-primary {
    border: none;
    background: #EA7412;
}

.btn-primary:hover {
    background: #C06111;
}

.truck {
    font-size: 63px;
    color: #fff;
}

#header {
    border-top: none;
    background: #fdfdfd;
}

.navActive {
    background: #C06111;
    color: #fff;
}

.logo {
    position: relative;
    top: 5px;
}

.home-concept strong {
  color: #000000;
}

.bold800 {
    font-size: 34px !important;
    font-weight: 800 !important;
}

.w800 {
    font-weight: 800;
}

.bold {
    font-weight: 800 !important;
}

.inverted, #footer .footer-ribbon  {
    background: #EA7412;
}

#footer .footer-ribbon:before {
  border-right-color: #714521;
  border-left-color: #714521;
}

#footer .container .row > div {
  margin-bottom: 40px;
}

#footer .footer-copyright p {
  margin-top: 20px;
}

h3, h4, h5 {
  color: #000;
}

a:hover {
    color: #EA7412;
}

body > div > div > div > div:nth-child(2) > div.col-md-5 > ul.list-unstyled.push-top {
    color: #000;
}

strong {
    color: #000;
}

footer strong {
    color: #777;
}

.welcomeText {
    color: #fff;
    text-transform: uppercase;
    line-height: 2.6em;
    margin-bottom: 0;
}

.white {
    color: #ffffff !important;
}

.text2Col {
   -webkit-column-count: 2;
      -moz-column-count: 2;
           column-count: 2;

   -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
           column-gap: 20px;
}

.main-text {
    font-size: 18px;
}

.home-intro {
}
